{% load static %}



<html lang="en">
<head>
<title>All Coupons</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'myapp/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/contact_responsive.css' %}">
<style>
	.myclass{
		width:100px;
		height:150px;
	}
	.avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;

  }

</style>
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="#">Klara</a></div>
			<nav class="main_nav">
				<ul>
					<li><a href="{% url 'mindex' %}">home</a></li>
					<li><a href="{% url 'allproducts' %}">products</a></li>
					<li><a href="{% url 'allmessages' %}">messages</a></li>
					<li><a href="{% url 'allsubscribers' %}">subscribers</a></li>
					<li><a href="{% url 'allorders' %}">orders</a></li>
					<li><a href="{% url 'viewreviews' %}">reviews</a></li>

                </ul>
			</nav>
			<div class="header_content ml-auto">
				<div class="shopping">
					{% if uid %}
					<a href="{% url 'myprofile' %}">
						<img src="{{uid.profilepic.url}}" alt="Avatar" class="avatar"></a>
						Welcome {{request.session.firstname}}, 
					
					<!-- Avatar -->
					<a href="{% url 'myprofile' %}">
						<div class="avatar">
							<img src="{% static 'myapp/images/avatar.svg' %}" alt="">
						</div>
					</a>
					{% endif %}
				</div>
			</div>
			<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="logo menu_mm"><a href="#">Klara</a></div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="{% url 'mindex' %}">home</a></li>
				{% if mid %}
				<li class="menu_mm"><a href="{% url 'addproduct' %}">add product</a></li>
				<li class="menu_mm"><a href="{% url 'allproducts' %}">all products</a></li>
				<li class="menu_mm"><a href="{% url 'allmessages' %}">messages</a></li>
				<li class="menu_mm"><a href="{% url 'allsubscribers' %}">manage subscribers</a></li>
				<li class="menu_mm"><a href="{% url 'allorders' %}">manage orders</a></li>
				<li class="menu_mm"><a href="{% url 'viewreviews' %}">all reviews</a></li>
				{% endif %}
				{% if uid %}
				<li class="menu_mm"><a href="{% url 'logout' %}">logout</a></li>
				{% else %}
				<li class="menu_mm"><a href="{% url 'login' %}">login</a></li>
				<li class="menu_mm"><a href="{% url 'register' %}">register</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'myapp/images/cart.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">All Coupons</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="{% url 'index' %}">Home</a></li>
									<li>All Coupons</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact Text -->

	<div class="contact_text">
		<div class="container">
			<div class="row">

				<!-- Contact Info -->
				<div class="col-lg-5">

					<div class="contact_info">
						<div class="contact_title">All Coupons</div>
						<div class="contact_info_content">
							<ul>
								<li>
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
											<th scope="col">Coupon Code</th>
                                            <th scope="col">Coupon Description</th>
											<th scope="col">Coupon Amount</th>
                                            <th scope="col">Delete</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in cdata %}
                                          <tr>
                                            <th scope="row">{{i.id}}</th>
											<td>{{i.couponcode}}</td>
                                            <td>{{i.coupondesc}}</td>
                                            <td>{{i.couponamt}}</td>
                                            <td><a href="{% url 'deletecoupon' pk=i.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                          </tr>
                                        {% endfor %}
                                
                                        </tbody>
                                      </table>
<br>
<br>
<br>
                                      <nav class="footer_nav">
                                        <ul>
                                            <li><a href="{% url 'addcoupon' %}">Add New Coupon</a></li>
										</ul>

                                    </nav>
				
									
									<!-- Cart -->
                                </li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="#">Klara</a></div>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
				</div>
			</div>
		</div>
	</footer>
</div>
<script src="{% static 'myapp/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'myapp/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'myapp/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'myapp/plugins/easing/easing.js' %}"></script>
<script src="{% static 'myapp/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'myapp/js/checkout_custom.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
</body>
</html>