{% load static %}


<html lang="en">
<head>
<title>Checkout</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'myapp/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/checkout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/checkout_responsive.css' %}">
<style>
	.avatar {
		vertical-align: middle;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	
	  }
	
</style>
</head>
	
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="#">Klara</a></div>
			<nav class="main_nav">
				<ul>
					<li><a href="{% url 'index' %}">home</a></li>
					<li><a href="{% url 'categories' %}">products</a></li>
					<li><a href="{% url 'contact' %}">contact</a></li>
				</ul>
			</nav>
			<div class="header_content ml-auto">
				<div class="search header_search">
					<form action="#">
						<input type="search" class="search_input" required="required">
						<button type="submit" id="search_button" class="search_button"><img src="{% static 'myapp/images/magnifying-glass.svg' %}" alt=""></button>
					</form>
				</div>
				<div class="shopping">
					{% if uid %}
					<a href="{% url 'myprofile' %}">
						<img src="{{uid.profilepic.url}}" alt="Avatar" class="avatar"></a>
						Welcome {{request.session.firstname}}, 
					
						<!-- Cart -->
					<!-- Cart -->
					<a href="{% url 'cart' %}">
						<div class="cart">
							<img src="{% static 'myapp/images/shopping-bag.svg' %}" alt="">
							<div class="cart_num_container">
								<div class="cart_num_inner">
									<div class="cart_num">{{count}}</div>
								</div>
							</div>
						</div>
					</a>

					<!-- Star -->
					<a href="{% url 'wishlist' %}">
						<div class="star">
							<img src="{% static 'myapp/images/star.svg' %}" alt="">
							<div class="star_num_container">
								<div class="star_num_inner">
									<div class="star_num">{{wcount}}</div>
								</div>
							</div>
						</div>
					</a>
													<!-- Orders -->
													<a href="{% url 'myorders' %}">
														<div class="star">
															<img src="{% static 'myapp/images/orders.png' %}" alt="">
															<div class="star_num_container">
																<div class="star_num_inner">
																	<div class="star_num">{{ocount}}</div>
																</div>
															</div>
														</div>
													</a>
					
					<!-- Avatar -->
					<a href="{% url 'myprofile' %}">
						<div class="avatar">
							<img src="{% static 'myapp/images/avatar.svg' %}" alt="">
						</div>
					</a>
					{% endif %}
				</div>
			</div>
			<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="logo menu_mm"><a href="#">Klara</a></div>
		<div class="search">
			<form action="#">
				<input type="search" class="search_input menu_mm" required="required">
				<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="{% static 'myapp/images/magnifying-glass.svg' %}" alt=""></button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="{% url 'index' %}">home</a></li>
				<li class="menu_mm"><a href="{% url 'categories' %}">clothes</a></li>
				<li class="menu_mm"><a href="{% url 'contact' %}">contact</a></li>
				{% if uid %}
				<li class="menu_mm"><a href="{% url 'logout' %}">logout</a></li>
				{% else %}
				<li class="menu_mm"><a href="{% url 'login' %}">login</a></li>
				<li class="menu_mm"><a href="{% url 'register' %}">register</a></li>

				{% endif %}
			</ul>
		</nav>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'myapp/images/mads.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">Checkout</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="{% url 'index' %}">Home</a></li>
									<li><a href="{% url 'cart' %}">Shopping Cart</a></li>
									<li>Shopping Cart</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Checkout -->

	<div class="checkout">
		<div class="container">
			<div class="row">

				<!-- Billing Details -->
				<div class="col-lg-6">
					<div class="billing">
						<div class="checkout_title">billing details</div>
						<div class="checkout_form_container">
							{% if billmsg %}
							<div class="alert alert-info" role="alert">
								{{billmsg}}
							</div>	
							{% endif %}

							<form action="{% url 'savebilling' %}" method="POST" id="checkout_form">
								{% csrf_token %}

								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" name="fname" class="checkout_input checkout_input_50" placeholder="First Name" required="required" value="{{bid.fname}}">
									<input type="text" name="lname" class="checkout_input checkout_input_50" placeholder="Last Name" required="required" value="{{bid.lname}}">
								</div>
								<input type="text" name="email" class="checkout_input" placeholder="E-mail" required="required" value="{{bid.email}}">
								<select name="country" id="country" class="country_select checkout_input" value="{{bid.country}}">
									<option>India</option>
									<option>UK</option>
									<option>United States</option>
								</select>
								<input type="text" name="address" class="checkout_input" placeholder="Address" required="required" value="{{bid.address}}">
								<input type="text" name="city" class="checkout_input" placeholder="City" required="required" value="{{bid.city}}">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" name="zipcode"  class="checkout_input checkout_input_50" placeholder="Zipcode" required="required" value="{{bid.zipcode}}">
									<input type="text" name="phoneno" class="checkout_input checkout_input_50" placeholder="Phone No" required="required" value="{{bid.phoneno}}">
								</div>
								<textarea name="comment" id="checkout_comment" class="checkout_comment" placeholder="Leave a comment about your order" value="{{bid.comment}}"></textarea>
								<br>
									<button class="cart_total_button" type="submit" value="savebilling">save billing details</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Cart Details -->
				<div class="col-lg-6">
					<div class="cart_details">
						<div class="checkout_title">cart total</div>
						<div class="cart_total">
							<ul>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Product</div>
									<div class="cart_total_price ml-auto">Total</div>
								</li>
								{% for i in cart_id %}
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">{{i.p_id.productname}} x {{i.product_quantity}}</div>
									<div class="cart_total_price ml-auto">${{i.p_id.productprice}}</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Subtotal</div>
									<div class="cart_total_price ml-auto">${{i.product_total}}</div>
								</li>
								{% endfor %}
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Shipping</div>
									<div class="cart_total_price ml-auto">FREE</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Amount</div>
									<div class="cart_total_price ml-auto">${{cart_total}}</div>
								</li>
								{% if dmsg %}
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">{{dmsg}}</div>
									<div class="cart_total_price ml-auto">${{disc}}</div>
								</li>
								{% endif %}

								<li class="d-flex flex-row align-items-start justify-content-start total_row">
									<div class="cart_total_title">Total</div>
									<div class="cart_total_price ml-auto">${{cid.billamt}}</div>
								</li>
							</ul>
						</div>
						<div class="payment_options">
							<div>
								<input type="radio" id="radio_payment_1" name="regular_radio" class="regular_radio">
								<label for="radio_payment_1">cash on delivery</label>
							</div>
							<div>
								<input type="radio" id="radio_payment_2" name="regular_radio" class="regular_radio" checked>
								<label for="radio_payment_2">paypal</label>
								<div class="visa payment_option"><a href="#"><img src="{% static 'myapp/images/visa.jpg' %}" alt=""></a></div>
								<div class="master payment_option"><a href="#"><img src="{% static 'myapp/images/master.jpg' %}" alt=""></a></div>
							</div>
							<form action="{% url 'placeorder' %}" method="POST">
								{% csrf_token %}
								<button class="cart_total_button" type="submit" value="placeorder">place order</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="newsletter_content">
			<div class="newsletter_image parallax-window" data-parallax="scroll" data-image-src="images/cart_nl.jpg" data-speed="0.8"></div>
			<div class="container">
				<div class="row options">

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="{% static 'myapp/images/option_1.png' %}" alt=""></div>
							<div class="option_content">
								<div class="option_title">30 Days Returns</div>
								<div class="option_subtitle">No questions asked</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="{% static 'myapp/images/option_2.png' %}" alt=""></div>
							<div class="option_content">
								<div class="option_title">Free Delivery</div>
								<div class="option_subtitle">On all orders</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="{% static 'myapp/images/option_3.png' %}" alt=""></div>
							<div class="option_content">
								<div class="option_title">Secure Payments</div>
								<div class="option_subtitle">No need to worry</div>
							</div>
						</div>
					</div>

					<!-- Options Item -->
					<div class="col-lg-3">
						<div class="options_item d-flex flex-row align-items-center justify-content-start">
							<div class="option_image"><img src="{% static 'myapp/images/option_4.png' %}" alt=""></div>
							<div class="option_content">
								<div class="option_title">24/7 Support</div>
								<div class="option_subtitle">Just call us</div>
							</div>
						</div>
					</div>

				</div>
				<div class="row newsletter_row">
					<div class="col">
						<div class="section_title_container text-center">
							<div class="section_subtitle">only the best</div>
							<div class="section_title">subscribe for a 20% discount</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="#">Klara</a></div>
					<nav class="footer_nav">
						<ul>
							<li><a href="{% url 'index' %}">home</a></li>
							<li><a href="{% url 'categories' %}">products</a></li>
							<li><a href="{% url 'contact' %}">contact</a></li>
						</ul>
							</nav>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{% static 'myapp/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'myapp/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'myapp/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'myapp/plugins/easing/easing.js' %}"></script>
<script src="{% static 'myapp/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'myapp/js/checkout_custom.js' %}"></script>
</body>
</html>